version: "3.8"

services:
  prometheus:
    image: prom/prometheus
    container_name: equipment_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: equipment_grafana
    ports:
      - "3000:3000"
